/* ======================== *
 * CHALLENGES
 * ======================== */
.tb-challenge-card {
    min-height: 0;
}

.tb-challenge-card img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}