/* ======================== *
 * PRIMARY COLORS
 * ======================== */
.tb-color-primary-1 {
    background-color: #0D8A9D !important;
}

.tb-color-primary-2 {
    background-color: #1AAEC9 !important;
}

/* ======================== *
 * SECONDARY COLORS
 * ======================== */
.tb-color-secondary-1 {
    background-color: #F9AD1C !important;
}

.tb-color-secondary-2 {
    background-color: #F6C664 !important;
}
