/* ======================== *
 * MAIN STYLES
 * ======================== */
html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.tb-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

/* ======================== *
 * HEADER
 * ======================== */
.tb-layout .tb-header .mdl-textfield {
    padding: 0;
    margin-top: 41px;
}

.tb-layout .tb-header .mdl-layout-title {
    text-transform: capitalize;
}

.tb-layout .tb-header .mdl-textfield .mdl-textfield__expandable-holder {
    bottom: 19px;
}

.tb-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

/* ======================== *
 * DRAWER
 * ======================== */
.tb-layout .tb-drawer {
    border: none;
}

/* iOS Safari specific workaround */
.tb-layout .tb-drawer .mdl-menu__container {
    z-index: -1;
}
.tb-layout .tb-drawer .tb-navigation {
    z-index: -2;
}
/* END iOS Safari specific workaround */

.tb-layout .tb-drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center;
}

.tb-layout .tb-drawer .tb-drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.tb-layout .tb-drawer .tb-drawer-header .tb-avatar-dropdown {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.tb-layout .tb-drawer .tb-navigation {
    flex-grow: 1;
}

.tb-layout .tb-drawer .tb-navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
    transition: all 300ms ease;
    margin-bottom: 5px;
}

.tb-layout .tb-drawer .tb-navigation .mdl-navigation__link.highlighted {
    background-color: rgba(249, 124, 124, 0.18);
}

.tb-layout .tb-drawer .tb-navigation .mdl-navigation__link.active,
.tb-layout .tb-drawer .tb-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #333;
}

.tb-layout .tb-drawer .tb-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
    transition: all 300ms ease;
}

.tb-layout .tb-drawer .tb-navigation .mdl-navigation__link.active .material-icons,
.tb-layout .tb-drawer .tb-navigation .mdl-navigation__link:hover .material-icons {
    color: #333 !important;
    margin-right: 37px;
}

/* ======================== *
 * CONTENT
 * ======================== */
.tb-layout .tb-content {
    max-width: 1080px;
}