<div class="mdl-grid">

    <!-- Broadcasts -->
    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col tb-card-fullwidth">

        <!-- Content -->
        <div class="mdl-card__supporting-text" style="max-height:600px;overflow:auto">

            <ul class="tb-chat-list">
                <li class="tb-chat-list-item">

                    <!-- The Message -->
                    <div class="chat-bubble clean">

                        <!-- Sender -->
                        <span class="sender">Amit Grant (Organizer)</span>

                        <!-- Time -->
                        <span class="time">2:15 PM</span>

                        <!-- The Message -->
                        <span class="message">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>