<div class="mdl-grid">

    <!-- Broadcasts -->
    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">

        <!-- Heading -->
        <div class="mdl-card__title mdl-color-text--white tb-color-primary-1">
            <h2 class="mdl-card__title-text">Broadcasts</h2>
        </div>

        <!-- Content -->
        <div class="mdl-card__supporting-text" style="max-height:600px;overflow:auto">

            <ul class="demo-list-three mdl-list" style="padding:0;margin:0;">
                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>
                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>
                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>
                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>
                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>
                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>
                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>

                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>

                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>

                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>

                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>

                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>

                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>

                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>

                <li class="mdl-list__item mdl-list__item--three-line">

                    <!-- the Message -->
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Amit Grant <em>(Organizer)</em></span>
                        <span class="mdl-list__item-text-body">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </span>

                    <!-- Time -->
                    <span class="mdl-list__item-secondary-content">Thu, 14:42</span>
                </li>
            </ul>
        </div>
    </div>
</div>