<div class="mdl-grid">

    <!-- Challenge Card -->
    <!-- TODO: Get colors from server and add classes for images to greyscale -->
    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet tb-challenge-card">

        <!-- Heading -->
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">OnePlus X</h2>
        </div>

        <!-- Content -->
        <div class="mdl-card__supporting-text">

            <p>Complete the following task to get an OnePlus X - I don't know this device, but it looks great and Who does'nt want a new phone?</p>

            <b style="display:block;text-align:center;">Prize: OnePlus X for each group member</b>
        </div>

        <!-- Show info about sponsor on top -->
        <div class="mdl-card__menu">
            <img src="http://tlv.hacktrackglobal.com/img/sponsors/oneplus.png" height="40" alt="C-Data" />
        </div>
    </div>

    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet tb-challenge-card">

        <!-- Heading -->
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Coca-Cola Supply</h2>
        </div>

        <!-- Content -->
        <div class="mdl-card__supporting-text">

            <p>Drink 20439534 bottles of Coca-Cola to get this prize. Each team member will get 43567643 Coca-Cola bottles.</p>

            <b style="display:block;text-align:center;">Prize: Coca-Cola supply for a month</b>
        </div>

        <!-- Show info about sponsor on top -->
        <div class="mdl-card__menu">
            <img src="http://tlv.hacktrackglobal.com/img/sponsors/Coca-Cola.svg" height="40" alt="C-Data" />
        </div>
    </div>
</div>