<div class="mdl-grid">

    <!-- Countdown -->
    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet" style="height:200px">

    </div>

    <!-- Broadcasts -->
    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet tb-widget-broadcasts" style="height:300px">

        <!-- Widget Heading -->
        <div class="mdl-card__title mdl-color-text--white tb-color-secondary-2">
            <h2 class="mdl-card__title-text">Recent Broadcasts</h2>
        </div>

        <!-- Widget Content -->
        <div class="mdl-card__supporting-text">

            <!-- Broadcasts List -->
            <ul class="tb-chat-list">
                <li class="tb-chat-list-item">

                    <!-- The Message -->
                    <div class="chat-bubble clean">

                        <!-- Sender -->
                        <span class="sender">Amit Grant (Organizer)</span>

                        <!-- Time -->
                        <span class="time">2:15 PM</span>

                        <!-- The Message -->
                        <span class="message">
                            Hey everyone! Hope you having a good time in here. Just want to know if
                            someone need something - I right here!
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Widget Actions -->
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#!broadcasts">See all</a>
        </div>
    </div>

    <!-- Upcoming -->
    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet tb-widget-upcoming tb-color-primary-1">

        <!-- Widget Heading -->
        <div class="mdl-card__title mdl-card--expand">
            <h4>
                <b>Next-Up:</b><br>
                <span id="widget-upcoming-title">Dinner</span><br>
                <span id="widget-upcoming-time">7-11pm</span>
            </h4>
        </div>

        <!-- Widget Actions -->
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#!schedule">See Full Schedule</a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">event</i>
        </div>
    </div>

    <!-- To-Do -->
    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet tb-widget-todo">

        <!-- Widget Heading -->
        <div class="mdl-card__title mdl-color-text--white tb-color-primary-1">
            <h2 class="mdl-card__title-text">To-Do</h2>
        </div>

        <!-- Widget Content -->
        <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
            <ul class="mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="todo-item-1">
                            <input type="checkbox" id="todo-item-1" class="mdl-checkbox__input" checked>
                            <span class="mdl-checkbox__label">Item is an item, but what is an item?</span>
                        </label>
                    </span>

                    <span class="mdl-list__item-secondary-action">
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" id="todo-delete-1" href="#"><i class="material-icons">delete</i></a>
                            <span class="mdl-tooltip" for="todo-delete-1">Delete Item</span>
                        </span>
                    </span>
                </li>
            </ul>
        </div>

        <!-- Widget Actions -->
        <div class="mdl-card__menu mdl-color-text--white">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="todo-action-add">
                <i class="material-icons">add</i>
            </button>
            <span class="mdl-tooltip" for="todo-action-add">Add new item</span>
        </div>
    </div>

    <!-- Notes -->
    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet tb-widget-notes">

        <!-- Widget Heading -->
        <div class="mdl-card__title mdl-color-text--white tb-color-secondary-1">
            <h2 class="mdl-card__title-text">Notes</h2>
        </div>

        <!-- Widget Content -->
        <div class="mdl-card__supporting-text tb-widget-notes-inner" contenteditable="true">
            <p>Content goes here.</p>
        </div>
    </div>
</div>