<div class="mdl-grid">

    <!-- Mentor Card -->
    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet tb-mentor-card">

        <!-- Heading (Name) -->
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Gil Tayar &nbsp;<b>(Code)</b></h2>
        </div>

        <!-- Content -->
        <div class="mdl-card__supporting-text">

            <img src="http://tlv.hacktrackglobal.com/img/mentors/gil.jpg" />
            <p>
                For all these reasons, then, any way you may look at it, you must needs conclude that the great
                Leviathan is that one creature in the world which must remain unpainted to the last.
                True, one portrait may hit the mark much nearer than another, but none can hit it with any very
                considerable degree of exactness. So there is
            </p>
        </div>

        <!-- Show info about the group on top -->
        <div class="mdl-card__menu">
            <div id="mentor-1-availability" style="color:green">
                <i class="material-icons">brightness_1</i>
            </div>
            <span class="mdl-tooltip" for="mentor-1-availability">Available</span>
        </div>
    </div>

    <!-- Mentor Card -->
    <div class="mdl-color--white mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet tb-mentor-card">

        <!-- Heading (Name) -->
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Nir Kouris &nbsp;<b>(Marketing)</b></h2>
        </div>

        <!-- Content -->
        <div class="mdl-card__supporting-text">

            <img src="http://tlv.hacktrackglobal.com/img/mentors/nir.jpg" />
            <p>
                For all these reasons, then, any way you may look at it, you must needs conclude that the great
                Leviathan is that one creature in the world which must remain unpainted to the last.
                True, one portrait may hit the mark much nearer than another, but none can hit it with any very
                considerable degree of exactness. So there is
            </p>
        </div>

        <!-- Show info about the group on top -->
        <div class="mdl-card__menu">
            <div id="mentor-2-availability" style="color:red">
                <i class="material-icons">brightness_1</i>
            </div>
            <span class="mdl-tooltip" for="mentor-2-availability">Not Available</span>
        </div>
    </div>
</div>